<header class="p-4 w-full bg-black">
    <div class="flex flex-col sm:flex-row justify-between max-w-limit mx-auto">
        <a href="/" class="text-2xl text-white font-medium mx-auto sm:mx-0">
            INVENTORY
        </a>
        <nav class="mx-auto sm:mx-0">
            <ul class="flex flex-row gap-6 h-full">
                <li class="relative text-white group my-auto">
                    <a href="/inventory/products">Products</a>
                    <div class="absolute -bottom-1 w-full h-0.75 bg-blue-400 transition-transform duration-150 [transform:rotateY(90deg)] group-hover:[transform:rotateY(0deg)]"></div>
                </li>
                <li class="relative text-white group my-auto">
                    <a href="/inventory/categories">Categories</a>
                    <div class="absolute -bottom-1 w-full h-0.75 bg-blue-400 transition-transform duration-150 [transform:rotateY(90deg)] group-hover:[transform:rotateY(0deg)]"></div>
                </li>
                <li class="relative text-white group my-auto">
                    <a href="/inventory/editions">Editions</a>
                    <div class="absolute -bottom-1 w-full h-0.75 bg-blue-400 transition-transform duration-150 [transform:rotateY(90deg)] group-hover:[transform:rotateY(0deg)]"></div>
                </li>
                <li class="relative text-white group my-auto">
                    <a href="/inventory/expansions">Expansions</a>
                    <div class="absolute -bottom-1 w-full h-0.75 bg-blue-400 transition-transform duration-150 [transform:rotateY(90deg)] group-hover:[transform:rotateY(0deg)]"></div>
                </li>
            </ul>
        </nav>
    </div>
</header>

